<!DOCTYPE html>

<html>
   <head>
      <title>File Metadata</title>
      <link rel="shortcut icon" href="favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">      <link href="materialize.min.css" rel="stylesheet" type="text/css">
      <link type="text/css" rel="stylesheet" href="materialize.min.css"  media="screen,projection"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   </head>

   <body>
      <div class="container">
        <nav>
            <div class="nav-wrapper">
              <a href="#" class="brand-logo center">API Project: File Metadata Microservice</a>
            </div>
          </nav>
          <div class="divider"></div>
        <h3>Usage:</h3>
        <p>
          Please Upload a File ...
        </p>
        <div class="divider"></div>
        <div class="row">
          <h4 id="output"></h4>
          <form id="form1" enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
            <div class="file-field input-field">
            <div class="btn">
              <span>File</span>
            <input id="inputfield" type="file" name="upfile" required>
            </div>
            <div class="file-path-wrapper">
              <input id="inputfieldtext" class="file-path validate" type="text">
            </div>
            </div>
            <a id="clearbtn" class="waves-effect waves-light btn">clear<i class="material-icons left">delete</i></a>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </form>
        </div>
      </div>
      <div class="divider"></div>
      <footer class="page-footer">
        <div class="footer-copyright">
          <div class="container">
          © 2022 Copyright
          </div>
        </div>
        </footer>
      <script type="text/javascript">
        let clearBtn = document.getElementById("clearbtn");
        clearBtn.addEventListener("click", ()=> {document.getElementById("form1").reset()})  
      </script>
      <script type="text/javascript" src="materialize.min.js"></script>
   </body>
</html>
